
body {
    margin: 0;
    padding: 0;

    --color-bg: rgb(67, 67, 67);
    --color-bg-overlay: rgb(24, 24, 24);
    --color-generic: rgb(27, 146, 206);
    --color-hover: rgba(255, 255, 255, 0.21);

    background-color: var(--color-bg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    margin: auto;
    margin-top: 30px;
    width: clamp(80%, 80%, 90vw);
    color: rgb(165, 165, 165);
}

.content .title {
    color: var(--color-generic);
    font-size: 25px;
}

.content iframe {
    display: inline-block;
    margin-right: 10px;
    width: clamp(200px, 500px, 100%);
    height: 300px;
}

.content img {
    display: inline-block;
    margin-right: 10px;
    width: clamp(200px, 500px, 100%);
}

.question {
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: var(--color-bg-overlay) 5px solid;
}

