body {
  margin: 0;
  padding: 0;
  --color-bg: rgb(67, 67, 67);
  --color-bg-overlay: rgb(24, 24, 24);
  --color-generic: rgb(27, 146, 206);
  --color-generic-darker: rgb(7, 91, 133);
  --color-hover: rgba(255, 255, 255, 0.21);
  background-color: var(--color-bg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: rgb(0, 142, 152);
}

.content {
  margin: auto;
  margin-top: 30px;
  width: clamp(80%, 80%, 90vw);
  color: rgb(165, 165, 165);
}

.content .title {
  color: var(--color-generic);
  font-size: 25px;
}
.content {
  margin: auto;
  margin-top: 30px;
  width: clamp(80%, 80%, 90vw);
  color: rgb(165, 165, 165);
}

.peoples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.member {
  text-align: center;
}

.img_member {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

.name {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.role {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
.helper {
  color: rgb(12, 206, 255);
}
.admin {
  color: rgb(255, 109, 12);
}
.owner {
  color: rgb(255, 239, 12);
}
.mod {
  color: rgb(69, 255, 12);
}

.desc {
  font-size: 12px;
}

.peoples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.img_member {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto 10px;
}

.name {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.role {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.desc {
  font-size: 14px;
}
