body {
  margin: 0;
  padding: 0;
  background-color: rgb(67, 67, 67);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content {
  margin: auto;
  margin-top: 30px;
  width: clamp(80%, 80%, 90vw);
  color: rgb(165, 165, 165);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .title {
  color: rgb(27, 146, 206);
  font-size: 25px;
}

.card {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    flex-basis: calc(100% - 10px);
  }
}
