@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.font-heading{
  font-family: var(--font-heading);
  font-style: bold;
}

.transition-custom{
  transition-duration: .08s;
  transition-timing-function: cubic-bezier(.4,0,1,1);
}

.btn{
  @apply inline-flex items-center justify-center rounded-2xl text-center transition-custom border;
}
.btn:focus{
  @apply ring-offset-2 ring;
}

*:focus{
  outline: none;
}

.bg-downloads {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1)), url("/bg.webp")
}

b{
  font-weight: 600;
}