body {
  margin: 0;
  padding: 0;
  --color-bg: rgb(67, 67, 67);
  --color-bg-overlay: rgb(24, 24, 24);
  --color-generic: rgb(27, 146, 206);
  --color-generic-darker: rgb(7, 91, 133);
  --color-hover: rgba(255, 255, 255, 0.21);
  background-color: var(--color-bg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: rgb(0, 142, 152);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
@keyframes tilt {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.link-button {
  background-color:rgb(12, 206, 255);;
  border-radius:0px;
  padding: 8px;
  border: 0px;
  color:white;
  animation: tilt ease-in-out;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
.link-button:hover { border: 3px solid black; }
.version a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.version .link {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--color-hover);
}

iframe {
  display: inline-block;
  margin-right: 10px;
  width: clamp(200px, 500px, 100%);
  height: 300px;
}

.content {
  margin: auto;
  margin-top: 30px;
  width: clamp(80%, 80%, 90vw);
  color: rgb(165, 165, 165);
}

.content .title {
  color: var(--color-generic);
  font-size: 25px;
}

.version {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.version .title {
  font-size: 20px;
}
